/*Styling body*/
body {
    font-family: 'Lora', serif;
    margin:0;
    padding:0;
    overflow-x: hidden;
    width: 100%;
}

/*Styling html to remove white space*/
html {
  margin:0;
  padding:0;
  overflow-x: hidden;
}

/*Styling logo*/
.logo {
    background-color: #585D46;
}
/*Styling logo image*/
.logo img {
    width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling topnav menu*/
.topnav {
    background-color: #ADB09F;
    padding: 1px;
    margin: auto;
}

/*Styling topnav menu links*/
.topnav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-right: 30px;
}
/*Styling topnav menu links when hovering*/
.topnav a:hover {
    text-decoration: underline;
}

/*Styling topnav menu list*/
.topnav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;

}

/*Styling menu drop-down*/
.topnav ul ul {
  display: none;
  position: absolute;
  top: 2em;
  left: 0;
  z-index: 99999;
  width: 180px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.topnav li {
  position: relative;
}

/* Style the navigation menu */
.mobile-nav {
  overflow: hidden;
  background-color: #ADB09F;
  position: relative;
}

.mobile-nav #main-nav{
  display: none;
}


/* Style the hamburger menu */
.mobile-nav a.icon {
  background-color: #ADB09F;
  padding: 25px;
  display: block;
  right: 0;
  top: 0;
}

.mobile-nav .fas {
  color: #585D46;
  float: right;
}

/* Style navigation menu links */
.mobile-nav a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobile-nav a:hover {
  background-color: #e8eade;
  color: black;
}

.mobile-nav ul {
  list-style-type: none;
  padding: 0;
}

/*Styling buttons*/
.button {
    background-color: #ADB09F;
    color: black;
    border: none;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*Styling buttons when hovering*/
  .button:hover {
    background-color: #585D46;
  }
/*Styling buttons on homepage*/
  .main-buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: auto;
    margin-top: 150px;
  }

.front-widgets {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.widget {
  width: 20%;
  padding: 50px;
  background-color: rgba(176, 175, 159, 0.8);
  text-align: center;
}

.widget a {
  text-decoration: underline;
  color: #585D46;
}

.widget a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/*Styling wrapper*/
.wrapper {
  display: flex;
  gap: 30px;
}

/*Styling content*/
.content {
  flex-grow: 4;
  width: 50%;
  margin-top: 100px;
  margin-left: 100px;
  margin: auto;
}

/*Styling content links*/
.content a {
  color: #585D46;
}

  /*Styling news container*/
.news-container {
  display: flex;
  margin-left: 60px;
}

/*Styling image in news*/
.news-container img {
  margin-top: 30px;
  padding: 20px;
  margin-right: 80px;
}

/*Styling news*/
.news h5 {
  font-weight: bold;
  font-size: 20px;
  color: #585D46;
  margin: 0px;
}

/*Styling links in news*/
.news a {
  font-weight: bold;
  text-decoration: none;
  color: #585D46;
  margin-left: 2px;
}

/*Styling dates in news*/
.news .date {
  color: rgb(105, 105, 105);
}

.news-divide {
  margin-left: 50px;
  width: 90%;
}

/*Styling sidebar*/
.sidebar {
  margin-top: 30px;
  padding: 20px;
  width: 20%;
  background-color: #adb09f67;
  height: 100%;
  margin-right: 100px;
}

/*Styling links for the latest posts*/
.wp-block-latest-posts li a {
  text-decoration: none;
  color: #585D46;
}

  /*Styles links for archive*/
  .wp-block-archives li a {
    text-decoration: none;
    color: #585D46;
  }

    /*Styling article / news on the single page*/
    .article-container {
      margin-top: 40px;
      display: flex;
      margin-left: 100px;
  }

  /*Styling image on the single page*/
  .article-container img {
      width: 500px;
      height: 281px;
      padding: 20px;
      margin-top: 20px;
      margin-right: 80px;
      margin-left: 20px;
  }

  /*Styling heading on the single page*/
  .article h2 {
    font-weight: bold;
    font-size: 30px;
    color: #585D46;
    margin: 0px;
}

/*Styling date the single page*/
.article .date {
    margin-top: 50px;
    color: rgb(105, 105, 105);
}

/*Styling textarea in form*/
textarea {
  resize: vertical;
}

/*Styling placeholder in form*/
::placeholder {
  color: lightgray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Styling activity page*/
.activity-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  width: 75%;
  margin-top: 30px;
  margin-left: 100px;
}

/*Styling activity page links*/
.activity-text a {
  color: #585D46;
}

/*Styling image on activity page*/
.activity-container img{
    width: 500px;
    height: auto;
    padding: 0px;
    padding-bottom: 20px;
}

/*Styling activity flex-box*/
.activity {
  display: flex;
  align-items: center;
}

/*Styling activity image*/
.activity-img {
  margin-right: 100px;
}

/*Styling activity text*/
.activity-text {
  text-align: center;
}

/*Styling activity heading*/
.activity-text h2 {
  font-size: xx-large;
  text-align: center;
  color: #585D46;
}

/*Styling footer*/
  footer {
    width: 100%;
    background-color: #585D46;
    padding: 3px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 20px;
    margin-top: 100px;
  }

  /*Styling footer headings*/
  footer h3 {
    color: #ADB09F;
    text-align: center;
  }
  /*Styling footer list-items*/
  footer li {
    color: white;
    list-style-type: none;
  }

  /*Space between icon and text*/
  footer i {
    margin-right: 10px;
  }
  /*Styling footer social media icons*/
  footer .social-media {
    text-align: center;
    display: flex;
		justify-content: center;
  }
  /*Styling footer links*/
  footer a {
    color: white;
    text-decoration: none;
  }
  /*Styling footer links when hovering*/
  footer a:hover {
    color: #ADB09F;
  }

  /*Styling icons*/
  footer .fa {
    padding: 10px;
    font-size: 1px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    background: #ADB09F;
    color: white;
    border-radius: 5%;
    margin: 5px;
  }
  /*Styling icons when hovering*/
  footer .fa:hover {
    opacity: 0.7;
  }

  /*Styling icons list*/
  footer .fa-li {
    color: #ADB09F;
  }
  /*Styling social media icons*/
  footer .fa-brands {
    color: #ADB09F;
    margin-left: 10px;
  }
  /*Styling social media icons when hovering*/
  footer .fa-brands:hover {
    opacity: 0.7;
  }

/*Media querie for screens smaller than 768px (phone)*/
@media only screen and (max-width: 768px) {

  .topnav{
    display: none !important;
  }

    /*Styling logo image*/
  .logo img {
    width: 30%;
  }

  /*Styling buttons on homepage*/
  .main-buttons {
    width: 50%;
  }

  .front-widgets {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  
  .widget {
    width: 70%;
    padding: 40px;
    margin: auto;
  }

  footer {
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .news-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.news-container img {
    width: 80%;
    height: auto;
    padding: 0px;
    padding-bottom: 20px;
}

.news-divide {
    margin-left: 20px;
    width: 80%;
}

.content {
  width: 90%;
  margin-left: 30px;
}

/*Styling wrapper*/
.wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

/*Styling sidebar*/
.sidebar {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

/*Styling activity page*/
.activity-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
}

/*Styling image on activity page*/
.activity-container img{
    width: 100%;
    height: auto;
    padding: 0px;
    padding-bottom: 20px;
}

/*Styling activity flex-box*/
.activity {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/*Styling activity image*/
.activity-img {
  margin-right: 0px;
}

form {
  width: 90%;
}

.article-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.article-container img {
  width: 90%;
  height: 90%;
  padding: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

.article-container p {
  width: 90%;
}

}

  /*Media querie for screens bigger than 768px but smaller than 992px (tablet)*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .topnav{
    display: none !important;
  }

    /*Styling logo image*/
  .logo img {
    width: 20%;
  }

  /*Styling buttons on homepage*/
  .main-buttons {
    width: 30%;
  }

  .button a {
    text-decoration: none;
    color: black;
  }

  .front-widgets {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  
  .widget {
    width: 45%;
    padding: 40px;
    margin: auto;
  }

  footer {
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .news-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.news-container img {
    width: 80%;
    height: auto;
    padding: 0px;
    padding-bottom: 20px;
}

.news-divide {
    margin-left: 50px;
    width: 80%;
}

.content {
  width: 90%;
  margin-left: 30px;
}

/*Styling wrapper*/
.wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

/*Styling sidebar*/
.sidebar {
  width: 70%;
  margin-left: 60px;
  margin-top: 30px;
}

/*Styling activity page*/
.activity-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
}

/*Styling image on activity page*/
.activity-container img{
    width: 100%;
    height: auto;
    padding: 0px;
    padding-bottom: 20px;
}

/*Styling activity flex-box*/
.activity {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/*Styling activity image*/
.activity-img {
  margin-right: 0px;
}

form {
  width: 90%;
}

.article-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.article-container img {
  width: 90%;
  height: 90%;
  padding: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

.article-container p {
  width: 90%;
}
}

  /*Media querie for screens bigger than 992px (desktop)*/
  @media only screen and (min-width: 992px) {
    .mobile-nav {
      display: none;
    }
  }